<!DOCTYPE html>
<html>

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

</head>

<body>
    <div class="container">
        <h1>QRify Your URL</h1>
        <form action="/qrify" method="get">
            <input type="text" class="validate" name="url">
            <input type="submit" value="QRify" class="waves-effect waves-light btn" />
        </form>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</body>

</html>